name: Deployment
on:
  workflow_call:
    inputs:
      env:
        required: true
        type: string
    secrets:
      BUCKET_NAME:
        required: true
      DOCUMENTS_BUCKET_NAME:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
jobs:
  client:
    name: Deploy Client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: 14.x
    - name: Install
      run: npm i
    - name: Build
      run: npm run build
    - name: Deploy
      run: aws s3 sync ./build s3://${{ secrets.BUCKET_NAME }} --acl public-read --delete
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_EC2_METADATA_DISABLED: true
  documents:
    name: Deploy Documents
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build Index
      run: node documents/buildIndex.js https://${{ secrets.DOCUMENTS_BUCKET_NAME }}.s3.amazonaws.com
    - name: Deploy
      run: aws s3 sync ./documents s3://${{ secrets.DOCUMENTS_BUCKET_NAME }} --acl public-read --delete
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_EC2_METADATA_DISABLED: true
